# dependencies
/node_modules

# Storybook
.nuxt
.nuxt-storybook
storybook-static

# production
/build
.env

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#files
yarn.lock
package-lock.json